
image:
  repository: us-central1-docker.pkg.dev/massive-sandbox-477717-k3/dev-docker/order-service
  tag: v2.0.1

imagePullPolicy: IfNotPresent

replicaCount: 1

service:
  port: 3002

resources: {}

env: []
