image:
  repository: us-central1-docker.pkg.dev/massive-sandbox-477717-k3/dev-docker/order-service
  tag: "__REQUIRED__"

imagePullPolicy: IfNotPresent

replicaCount: 1

service:
  port: 8080

resources: {}

env:
  - name: SPRING_DATASOURCE_URL
    value: "jdbc:postgresql://127.0.0.1:5432/hackathon"
  - name: SPRING_DATASOURCE_USERNAME
    value: "postgres"
  - name: SPRING_DATASOURCE_PASSWORD
    valueFrom:
      secretKeyRef:
        name: db-credentials
        key: password
  - name: SPRING_JPA_HIBERNATE_DDL_AUTO
    value: "update"
  - name: SPRING_JPA_SHOW_SQL
    value: "true"
