
# Node
node_modules/
package-lock.json

# Java
target/
*/target/
*.jar
*.class

# Terraform
.terraform/
.terraform.lock.hcl

# VSCode
.vscode/

.DS_Store

# Terraform state
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup
massive-sandbox-477717-k3-3f2f0589c59e.json
massive-sandbox-477717-k3-3f2f0589c59e.json
massive-sandbox-477717-k3-3f2f0589c59e.json
