# umbrella/values.yaml

global:
  serviceAccount:
    enabled: true
    name: artifact-puller-sa

application-service:
  image:
    repository: us-central1-docker.pkg.dev/massive-sandbox-477717-k3/dev-docker/application-service
    tag: "__REQUIRED__"   # must be overridden by CD
    imagePullPolicy: IfNotPresent
  replicaCount: 1
  service:
    port: 3001
  resources: {}
  env: []

order-service:
  image:
    repository: us-central1-docker.pkg.dev/massive-sandbox-477717-k3/dev-docker/order-service
    tag: "__REQUIRED__"
    imagePullPolicy: IfNotPresent
  replicaCount: 1
  service:
    port: 3002
  resources: {}
  env: []

patient-service:
  image:
    repository: us-central1-docker.pkg.dev/massive-sandbox-477717-k3/dev-docker/patient-service
    tag: "__REQUIRED__"
    imagePullPolicy: IfNotPresent
  replicaCount: 1
  service:
    port: 3003
  resources: {}
  env: []
