image:
  repository: us-central1-docker.pkg.dev/massive-sandbox-477717-k3/dev-docker/patient-service
  tag: "__REQUIRED__"   # must be overridden by CI/CD

imagePullPolicy: IfNotPresent

replicaCount: 1

service:
  port: 3003

resources: {}

env: []
